@use "@/assets/styles/var.scss";

.repo-detail {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  & > div:first-child {
    max-width: 300px;
  }
  & > div:last-child {
    width: 100%;
  }
}
