@use "@/assets/styles/var.scss";

.stroll-container {
  width: 85%;
  margin: auto;
  height: 100%;
  min-height: 0;
  .left {
    flex: 8;
    min-height: 0;
    border-right: var.$border;
  }
  .right {
    flex: 4;
    min-height: 0;
  }
}
