@use "@/assets/styles/var.scss";
.new-folder-item {
  gap:20px;
  border: var.$border;
  border-radius: var.$border-radius;
  padding: 10px 16px;
  min-width: 260px;
  .f-left{
    max-width: 10%;
    font-size: var.$font-size-lg;
  }
  .f-right {
    display: flex;
    gap: 15px;
    .desc{
      display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    }
    .top{
      letter-spacing: 0.5px;
    }

    .down{
      color: #aaa;
      font-size: var.$font-size-xs;
    }
    i{
      color: var.$text-color;
      transition: all 0.3s ease-in-out;
    }
    i:hover{
      transform: rotate(-180deg);
    }
  }
}