@use "@/assets/styles/var.scss";

.case-container {
  width: 80%;
  margin: 20px auto 0;
  .divider {
    width: 20%;
    margin: auto;
    .divider-name {
      color: var.$text-color-shallow;
      font-size: var.$font-size-sm;
    }
  }
}
