@import "@/assets/styles/var.scss";
.sidebar {
  padding: 16px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .f-left {
    img {
      width: 32px;
      height: 32px;
      margin-right: 8px;
      border-radius: 16px;
    }
    .logo-title {
      color: $text-color;
    }
  }
}

.space {
  height: 40px;
}
