@use "@/assets/styles/var";

.doc-item {
  padding: 10px 15px 0 15px;
  transition: all 0.3s linear;
  &:hover {
    background-color: var.$bg-shallow-color;
    .edit {
      display: block;
    }
  }

  .title {
    font-size: var.$font-size-md;
  }

  .edit {
    color: var.$text-color-shallow;
    margin-left: 15px;
    margin-top: 5px;
    font-size: var.$font-size-xs !important;
    display: none;
  }

  .f-center-3,
  .f-right-3 {
    color: var.$text-color-shallow;
  }

  i {
    font-size: var.$font-size-lg;
    margin-right: 20px;
  }
}
