@use "@/assets/styles/var.scss";

.ai-chat-container {
  position: relative;
  background-color: var.$background-color;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  padding: 12px 30px;
  box-shadow: var.$shadow-sidebar;
}

.chat-box {
  height: 82vh;
  overflow-y: scroll;
  width: 100%;

  .container {
    padding: 20px 30px;
    min-width: 100vh;
    margin: 50px auto 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    min-width: 500px;
    width: 50vw;
  }

  .ask-box {
    align-self: end;
    background-color: var.$bg-shallow-color;
    border-radius: var.$border-radius-chat-r;
    margin: 15px;
    & > div {
      font-size: var.$font-size-md;
      padding: 15;
    }
  }
  .answer-box {
    align-self: start;
    border-radius: var.$border-radius-chat-l;
    & > div {
      font-size: var.$font-size-md;
      padding: 15;
    }
  }
}

.chat-bottom {
  position: fixed;
  align-self: center;
  min-width: 500px;
  width: 100%;
  bottom: 0;
  margin: auto;
  padding: 0 15px 15px 0;
  background-color: var.$background-color;
  .container {
    width: 50%;
    margin: auto calc(20%);
  }
}
