@use "./var.scss" as *;
// 首页几种路由的最外层布局
.main-content {
  padding: 20px 30px;
  background-color: #fff;
  height: 100%;
  min-width: 72rem;
}

.f-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
.f-jc-c {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.f-jc-s {
  display: flex;
  justify-content: start;
}
.f-left {
  display: flex;
  justify-content: start;
  align-items: center;
}
.f-right {
  display: flex;
  justify-content: end;
  align-items: center;
}
.font-color-white {
  color: #fff;
}
.cursor-pointer {
  cursor: pointer;
}

// 3份flex布局
.f-left-3 {
  flex: 2;
  display: flex;
  flex-wrap: nowrap;
}
.f-center-3 {
  flex: 2;
  display: flex;
  justify-content: start;
}
.f-right-3 {
  flex: 1;
  display: flex;
}

// :hover变色 - 主题色
.hover-theme-color:hover {
  color: $theme-color;
}

// 标签
.tag {
  border: $border;
  border-radius: $border-radius-md;
  padding: 1px 8px;
  display: flex;
  gap: 5px;
  font-size: $font-size-xs;
  vertical-align: bottom;
  transition: color 0.2s ease-in-out;
  color: $text-color-shallow;

  i {
    // margin-top: -2px;
    font-size: $font-size-md;
  }

  .name {
    margin-top: 2px;
  }
  &:hover {
    border-color: $theme-color;
    color: $theme-color;
  }
}

// 过渡
.transition-all {
  transition: all 0.3s ease-in-out;
}

.logo-link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 10px;
}

// 阴影
.shadow {
  box-shadow: $shadow-dropdown;
}

.logo-text {
  color: $theme-color;
}
