.f-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
.f-jc-c{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.f-jc-s{
  display: flex;
  justify-content: start;
}
.f-left {
  display: flex;
  justify-content: start;
  align-items: center;
}
.f-right {
  display: flex;
  justify-content: end;
  align-items: center;
}
.font-color-white {
  color: #fff;
}
.cursor-pointer {
  cursor: pointer;
}