// 导入顺序很重要
@use "tailwindcss";
@use "./var.scss" as *;
@use "./mixins.scss";
@use "./animation.scss";
@use "./common.scss";

// 全局样式
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // CSS 变量
  --primary-color: #{$primary-color};
  --success-color: #{$success-color};
  --error-color: #{$error-color};
  --background-color: #{$background-color};
}

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i {
  font-size: $font-size-md !important;
}

// // 导入组件样式
// @import 'components/button';
// @import 'components/card';
// @import 'components/editor';
// @import 'components/layout';

.css-var-_R_4lrlb_ {
  // 覆盖ant-design样式 divider
  --ant-margin-lg: 14px !important;
}

.ant-input-outlined {
  border-radius: $border-radius-lg;
}
